<div class="container">
  <div class="country-filter">
    <h1>Country</h1>
    <div class="filter">
      <%= f.input :country, :as => :select, :collection => @countries, :label_method => :format_name, :value_method => :id %>
    </div>
  </div>
  <div class="summary">
    <h1>Summary</h1>
    <div class="summary-cards">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Revenue</h5>
          <h1 class="card-figure"><%= @revenue %> €</h1>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Avg Rev / Order</h5>
          <h1 class="card-figure"><%= @arpo %> €</h1>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Customers</h5>
          <h1 class="card-figure"><%= @customers %></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="monthly">
    <h1>Revenue per Month</h1>
    <%= column_chart Order.group_by_month(:order_date, format: "%b").count %>
  </div>
</div>
