<div class="container">
  <div class="country-filter">
    <h2>Country</h2>
    <div class="filter">
      <%= form_tag root_path, method: :get do %>
        <%= select_tag :country, options_for_select(@countries.unshift("All"), @country), {class: "form-control", onchange: 'this.form.submit()'} %>
        <%# submit_tag "Filter", class: "btn btn-primary mt-2" %>
      <% end %>
    </div>
  </div>
  <div class="summary">
    <h2>Summary</h2>
    <div class="summary-cards">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Revenue</h5>
          <h2 class="card-figure">
            <%= @revenue %> €
          </h2>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Avg Rev / Order</h5>
          <h2 class="card-figure">
            <%= @arpo %> €
          </h2>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Customers</h5>
          <h2 class="card-figure">
            <%= @customers %>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="monthly">
    <h2>Revenue per Month</h2>
    <% if @country && @country != "All" %>
      <%= column_chart @bundle.joins(:order).group_by_month("orders.order_date", format: "%b").sum(:price), colors: ["#039891"] %>
    <% else %>
      <%= column_chart Bundle.joins(:order).group_by_month(:order_date, format: "%b").sum(:price), colors: ["#039891"] %>
    <% end %>
  </div>
</div>
